<div class="add-user">
  <button mat-flat-button color="primary" (click)="toggleForm()"> Add User </button>
</div>

<div *ngIf="showForm" class="user-form">
  
  <form class="example-form" [formGroup]="userGroup">
    <h2>Add new User</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Enter Name" formControlName="name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Enter Email" formControlName="email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input type="text" matInput placeholder="Enter City" formControlName="city">
    </mat-form-field>

    <div formArrayName="contacts" class="add-contact">
      <h2>Add contact  <button mat-flat-button color="primary" (click)="addContact()"> Add Contact </button> </h2>
      @for (contact of contacts.controls ; track contact; let i = $index) {

        <div [formGroupName]="i" class="contact-form">
          <button mat-flat-button color="warn" (click)="deleteContact(i)"> Delete Contact </button>
          <mat-form-field class="i">
            <mat-label>Number</mat-label>
            <input type="number" matInput placeholder="Enter number" formControlName="number">
          </mat-form-field>
        
          <mat-form-field class="">
            <mat-label>Type</mat-label>
            <input type="text" matInput placeholder="Enter contact Type" formControlName="type">
          </mat-form-field>

          <mat-form-field class="">
            <textarea matInput formControlName="description" placeholder="Enter description">

            </textarea>
          </mat-form-field>
          
        </div>
        <button></button>
      }
    </div>

    <button mat-flat-button color="primary" (click)="onSubmit()"> Save </button>

  </form>
  
</div>


<pre>{{userGroup.value | json}}</pre>


<h1>Saved User</h1>
<div>
  @for( user of users ; track user){
    <div>
      <pre>{{user | json}}</pre>

    </div>
  }
</div>